#user-rollover .meta{
   	min-height: 126px;
}
#user-rollover .meta.subscriber {
	min-height: 146px;
}
/*
https://i.imgur.com/nx7YxJV.png GOLD
https://i.imgur.com/fRFJ9D1.png SILVER
https://i.imgur.com/WgchsDz.png BRONZE
*/

/*formatting fixes*/
#chat [data-cid^='5383341-'] .un, /*Daphne*/
#chat [data-cid^='5653326-'] .un, /*Rin*/
#chat [data-cid^='4881577-'] .un, /*Windwalk*/
#chat [data-cid^='4712909-'] .un, /*Endernator*/
#chat [data-cid^='3675567-'] .un, /*WaterClaw*/
#chat [data-cid^='5843058-'] .un, /*Nai-Chan*/
#chat [data-cid^='6355338-'] .un, /*Minymind*/
#chat [data-cid^='15006213-'] .un,  /*Tofu*/
#chat [data-cid^='29080967-'] .un,  /*Unsounded*/
#chat [data-cid^='5443249-'] .un,  /*Chansu*/
#chat [data-cid^='4846432-'] .un,  /*Stan*/
#chat [data-cid^='13446247-'] .un,  /*Animedev*/
#chat [data-cid^='6361546-'] .un,  /*Javi*/
#chat [data-cid^='3906867-'] .un  /*ApplePi*/
{
    top: -2px !important;
    position: relative;
}
#chat [data-cid^='5383341-'] .rcs-user-info,
#chat [data-cid^='5653326-'] .rcs-user-info,
#chat [data-cid^='4881577-'] .rcs-user-info,
#chat [data-cid^='4712909-'] .rcs-user-info,
#chat [data-cid^='3675567-'] .rcs-user-info,
#chat [data-cid^='5843058-'] .rcs-user-info,
#chat [data-cid^='15006213-'] .rcs-user-info,
#chat [data-cid^='6361546-'] .rcs-user-info,
#chat [data-cid^='29080967-'] .rcs-user-info,
#chat [data-cid^='55443249-'] .rcs-user-info,
#chat [data-cid^='4846432-'] .rcs-user-info,
#chat [data-cid^='13446247-'] .rcs-user-info,
#chat [data-cid^='3906867-'] .rcs-user-info,
#chat [data-cid^='6355338-'] .rcs-user-info {
    position: relative !important;
    top: -2px !important;
}

/*****DAPHNE-CHAN PREMIUM SUPPORTER*****/
#chat [data-cid^='5383341-'] .un:before { /*supporter badge next to name in chat*/
		content: url("https://i.imgur.com/KyKJGXI.png"); 
		top: 4px; Left: -2px; padding-left: 2px;  padding-right: 2px;  position: relative;
}
#user-rollover.id-5383341 .meta:before { /*user rollover supporter image*/
    		content: url("https://i.imgur.com/KyKJGXI.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-5383341 .meta:after { /*user rollover supporter info*/
    		content: 'Premium Supporter';
    		color: #808691; position: absolute; top: 118px; left: 130px;
}
/* If user also has a RCS badge */
#user-rollover.id-5383341 .meta{
		height: 170px !important;
}
#user-rollover.id-5383341 .meta #isSpecial{
    		top: 145px !important;
}
#user-rollover.id-5383341 .meta #isSpecialtxt {
   	 	top: 143px !important;
}
/*Special colour*/
#chat [data-cid^="5383341"] .un {
    		color: #fc0af2 !important;
    		position: relative;
}


/*****RIN GOLD SUPPORTER*****/ 
#chat [data-cid^='5653326-'] .un:before { /*supporter badge next to name in chat*/
		content: url("https://i.imgur.com/KyKJGXI.png"); 
		top: 4px; Left: -2px; padding-left: 2px;  padding-right: 2px;  position: relative;
}
#user-rollover.id-5653326 .meta:before { /*user rollover supporter image*/
    		content: url("https://i.imgur.com/KyKJGXI.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-5653326 .meta:after { /*user rollover supporter info*/
    		content: 'Gold Supporter';
    		color: #808691; position: absolute; top: 118px; left: 130px;
}
/* If user also has a RCS badge */

/*****WATERCLAW GOLD SUPPORTER*****/
#user-rollover.id-3675567 .meta:before { /*user rollover supporter image*/
    		content: url("https://i.imgur.com/KyKJGXI.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-3675567 .meta:after { /*user rollover supporter info*/
    		content: 'Gold Supporter';
   		color: #808691; position: absolute; top: 118px; left: 130px;
}
/* If user also has a RCS badge */


/*****MINYMIND GOLD SUPPORTER*****/
#chat [data-cid^='6355338-'] .un:before { /*supporter badge next to name in chat*/
		content: url("https://i.imgur.com/KyKJGXI.png"); 
		top: 4px; Left: -2px; padding-left: 2px;  padding-right: 2px;  position: relative;
}
#user-rollover.id-6355338 .meta:before { /*user rollover supporter image*/
    		content: url("https://i.imgur.com/KyKJGXI.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-6355338 .meta:after { /*user rollover supporter info*/
    		content: 'Gold Supporter';
   		color: #808691; position: absolute; top: 118px; left: 130px;
}
/* If user also has a RCS badge */

/*****JAVI GOLD SUPPORTER*****/29080967 
#chat [data-cid^='6361546-'] .un:before { /*supporter badge next to name in chat*/
		content: url("https://i.imgur.com/KyKJGXI.png"); 
		top: 2px; Left: -2px; padding-left: 2px;  padding-right: 2px;  position: relative;
}
#user-rollover.id-6361546 .meta:before { /*user rollover supporter image*/
    		content: url("https://i.imgur.com/KyKJGXI.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-6361546 .meta:after { /*user rollover supporter info*/
    		content: 'Gold Supporter';
    		color: #808691; position: absolute; top: 118px; left: 130px;
}
/* If user also has a RCS badge */


/*****UNSOUNDED GOLD SUPPORTER*****/
#chat [data-cid^='29080967-'] .un:before { /*supporter badge next to name in chat*/
		content: url("https://i.imgur.com/KyKJGXI.png"); 
		top: 2px; Left: -2px; padding-left: 2px;  padding-right: 2px;  position: relative;
}
#user-rollover.id-29080967 .meta:before { /*user rollover supporter image*/
    		content: url("https://i.imgur.com/KyKJGXI.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-29080967 .meta:after { /*user rollover supporter info*/
    		content: 'Gold Supporter';
    		color: #808691; position: absolute; top: 118px; left: 130px;
}
/* If user also has a RCS badge */


/*****CHANSU GOLD SUPPORTER*****/
#chat [data-cid^='5443249-'] .un:before { /*supporter badge next to name in chat*/
		content: url("https://i.imgur.com/KyKJGXI.png"); 
		top: 2px; Left: -2px; padding-left: 2px;  padding-right: 2px;  position: relative;
}
#user-rollover.id-5443249 .meta:before { /*user rollover supporter image*/
    		content: url("https://i.imgur.com/KyKJGXI.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-5443249 .meta:after { /*user rollover supporter info*/
    		content: 'Gold Supporter';
    		color: #808691; position: absolute; top: 118px; left: 130px;
}
/* If user also has a RCS badge */

/*****WINDWALK SILVER SUPPORTER*****/
#chat [data-cid^='4881577-'] .un:before { /*supporter badge next to name in chat*/
		content: url("https://i.imgur.com/fRFJ9D1.png"); 
		top: 4px; Left: -2px; padding-left: 2px;  padding-right: 2px;  position: relative;
}
#user-rollover.id-4881577 .meta:before { /*user rollover supporter image*/
    		content: url("https://i.imgur.com/fRFJ9D1.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-4881577 .meta:after { /*user rollover supporter info*/
    		content: 'Silver Supporter';
    		color: #808691; position: absolute; top: 118px; left: 130px;
}
#user-rollover.id-4881577 .meta{
		height: 170px !important;
}
#user-rollover.id-4881577 .meta #isSpecial{
    		top: 145px !important;
}
#user-rollover.id-4881577 .meta #isSpecialtxt {
  		top: 143px !important;
}
/* If user also has a RCS badge */


/*****TOFU SILVER SUPPORTER*****/
#chat [data-cid^='15006213-'] .un:before { /*supporter badge next to name in chat*/ 4712909
		content: url("https://i.imgur.com/fRFJ9D1.png"); 
		top: 2px; Left: -2px; padding-left: 2px;  padding-right: 2px;  position: relative;
}
#user-rollover.id-15006213 .meta:before { /*user rollover supporter image*/
    		content: url("https://i.imgur.com/fRFJ9D1.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-15006213 .meta:after { /*user rollover supporter info*/
    		content: 'Silver Supporter';
    		color: #808691; position: absolute; top: 118px; left: 130px;
}
/* If user also has a RCS badge */
#user-rollover.id-15006213 .meta{
		height: 170px !important;
}
#user-rollover.id-15006213 .meta #isSpecial{
    		top: 145px !important;
}
#user-rollover.id-15006213 .meta #isSpecialtxt {
  		top: 143px !important;
}


/*****ENDERNATOR SILVER SUPPORTER*****/
#chat [data-cid^='4712909-'] .un:before { /*supporter badge next to name in chat*/
		content: url("https://i.imgur.com/fRFJ9D1.png"); 
		top: 4px; Left: -2px; padding-left: 2px;  padding-right: 2px;  position: relative;
}
#user-rollover.id-4712909 .meta:before { /*user rollover supporter image*/
    		content: url("https://i.imgur.com/fRFJ9D1.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-4712909 .meta:after { /*user rollover supporter info*/
    		content: 'Silver Supporter';
    		color: #808691; position: absolute; top: 118px; left: 130px;
}
/* If user also has a RCS badge */
#user-rollover.id-4712909 .meta{
		height: 170px !important;
}
#user-rollover.id-4712909 .meta #isSpecial{
    		top: 145px !important;
}
#user-rollover.id-4712909 .meta #isSpecialtxt {
   	 	top: 143px !important;
}

/*****NAI-CHAN SILVER SUPPORTER*****/
#chat [data-cid^='5843058-'] .un:before { /*supporter badge next to name in chat*/
		content: url("https://i.imgur.com/fRFJ9D1.png"); 
		top: 4px; Left: -2px; padding-left: 2px;  padding-right: 2px;  position: relative;
}
#user-rollover.id-5843058 .meta:before { /*user rollover supporter image*/
    		content: url("https://i.imgur.com/fRFJ9D1.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-5843058 .meta:after { /*user rollover supporter info*/
    		content: 'Silver Supporter';
    		color: #808691; position: absolute; top: 118px; left: 130px;
}
/* If user also has a RCS badge */

/*****ANIMEDEV SILVER SUPPORTER*****/
#chat [data-cid^='13446247-'] .un:before { /*supporter badge next to name in chat*/
		content: url("https://i.imgur.com/fRFJ9D1.png"); 
		top: 4px; Left: -2px; padding-left: 2px;  padding-right: 2px;  position: relative;
}
#user-rollover.id-13446247 .meta:before { /*user rollover supporter image*/
    		content: url("https://i.imgur.com/fRFJ9D1.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-13446247 .meta:after { /*user rollover supporter info*/
    		content: 'Silver Supporter';
    		color: #808691; position: absolute; top: 118px; left: 130px;

/*****STAN SILVER SUPPORTER*****/
#chat [data-cid^='4846432-'] .un:before { /*supporter badge next to name in chat*/
		content: url("https://i.imgur.com/fRFJ9D1.png"); 
		top: 4px; Left: -2px; padding-left: 2px;  padding-right: 2px;  position: relative;
}
#user-rollover.id-4846432 .meta:before { /*user rollover supporter image*/
    		content: url("https://i.imgur.com/fRFJ9D1.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-4846432 .meta:after { /*user rollover supporter info*/
    		content: 'Silver Supporter';
    		color: #808691; position: absolute; top: 118px; left: 130px;
}
	
//* APPLE PI WINNER OF 2017 CHRISTMAS EVENT*//
#chat [data-cid^='3906867-'] .un:before { /*supporter badge next to name in chat*/
		content: url("https://i.imgur.com/sTWraMt.png"); 
		top: 4px; Left: -2px; padding-left: 2px;  padding-right: 2px;  position: relative;
}
#user-rollover.id-3906867 .meta:before { /*user rollover supporter image*/
    		content: url("https://i.imgur.com/sTWraMt.png");	
		top: 120px;	left: 109px; position: absolute;
}
#user-rollover.id-3906867 .meta:after { /*user rollover supporter info*/
    		content: 'Christmas 2017 Event Winner';
    		color: #808691; position: absolute; top: 118px; left: 130px;
}
#user-rollover.id-3906867 .meta{
		height: 170px !important;
}
