/********/
/*BADGES*/
/********/

/* STAFF */

/* Eriofucker<3 */
#chat-messages .id-5762084 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/99Tod2N.png'); 
        background-size:        cover; 
}

/* Mikhan - Shrek - Lengend of the kneeling swamp */
#chat-messages .id-4396449 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/wFBsZrI.gif'); 
        background-size:        cover; 
}

/* PixelBreeze */
#chat-messages .id-196490 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/DN9QbKe.gif');  /*http://i.imgur.com/flFtDDn.png */
        background-size:        cover; 
        background-position:    initial;
        
}

/* TheBanHammer */
#chat-messages .id-3620521 .badge-box, #chat-messages .id-14182548 .badge-box
{
        border-color: #00a1ff;
        border-width: 1px;
        border-style: solid;
}
#chat-messages .id-3620521 .badge-box i.bdg, #chat-messages .id-14182548 .badge-box i.bdg
{
        /* Old Badge
        background-image:       url('https://i.imgur.com/jdadHuj.png');
        background-size:        cover;
        */
        
        background-image: url('https://i.imgur.com/EOuLASw.gif');
        background-size: cover;
        background-color: #404040;
        background-position-x: -3px;
}

/* Nue hata / whatever */
#chat-messages .id-3927729 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/d2b8z8P.png'); 
        background-size:        cover; 
}

/* Kirby */
#chat-messages .id-3893149 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/uxyQ4Wz.png');
        background-size:        cover;
}

/* asiansweg */
/*#chat-messages .id-5520544 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/OJZqg2l.png');
        background-size:        cover;
}*/

/* SamuraiFlamenco */
#chat-messages .id-5006104 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/XSpmXI6.jpg');
        background-size:        cover;
}

/* Danklight */
#chat-messages .id-6582089 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/n6JVatT.jpg');
        background-size:        cover;
}

/* RedasTLU */
#chat-messages .id-4725288 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/4dRlHRr.png');
        background-size:        cover;
}

/* NightcoreOP */
#chat-messages .id-6133094 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/DrpMWKQ.png');
        background-size:        cover;
}

/* BushiNinja */
#chat-messages .id-4189310 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/3MPUt6b.png');
        background-size:        cover;
}

/* JennyMagic */
/*#chat-messages .id-5009139 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/oLfGCbZ.png');
        background-size:        cover;
}*/

/* Kaboom */
#chat-messages .id-4742323 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/fZMzTOM.png');
        background-size:        cover;
}

/* Natilie */
/*#chat-messages .id-5059731 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/6jtg0uD.png');
        background-size:        cover;
}*/

/* Allo */
/*#chat-messages .id-4444591 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/opp3TlA.jpg');
        background-size:        cover;
}*/

/* DJ dude alex */
#chat-messages .id-4058796 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/FtVD6sC.png');
        background-size:        cover;
}

/* Nuggie */
#chat-messages .id-3901318 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/MmzLq1v.jpg');
        background-size:        cover;
}
/* Char */
#chat-messages .id-6181075 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/DutVmD0.png');
        background-size:        cover;
}

/* Renchoniko */
#chat-messages .id-4346793 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/jTBaPRY.jpg');
        background-size:        cover;
}
/* Xfirenl */
#chat-messages .id-5483545 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/hnB5Nbl.png');
        background-size:        cover;
}
/* Cyan */
#chat-messages .id-3432506 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/kLLmINe.png');
        background-size:        cover;
}
/*minymind*/
#chat-messages .id-6355338 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/vsvxEUp.png');
        background-size:        cover;
}
/*Fabbes*/
#chat-messages .id-6116330 .badge-box i.bdg
{
        background-image:       url('https://imgur.com/iPTuutM.png');
        background-size:        cover;
}
/*Daphne*/
#chat-messages .id-5383341 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/gTl2uwb.png');
        background-size:        cover;
}
/*Pro Hop*/
#chat-messages .id-7132658 .badge-box i.bdg
{
        background-image:       url('https://imgur.com/GjqDDCU.png');
        background-size:        cover;
}
/*AdorableCow*/
#chat-messages .id-4115530 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/W6IhmwX.jpg');
        background-size:        cover;
}
/*Nightcore Brianna DJ */
#chat-messages .id-13442611 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/NDcYHrH.png');
        background-size:        cover;
}
/* Joe2648 */
#chat-messages .id-5386736 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/14qtHSr.png');
        background-size:        cover;
}

/* BULZAI */
/*#chat-messages .id-8067032 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/fGKfZDv.gif');
        background-size:        cover;
}
#chat-messages .id-8067032 .badge-box
{
        border: 1px solid yellow;
}*/

/* Mirajane */
#chat-messages .id-3548097 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/KOVdiIF.jpg');
        background-size:        cover; 
}

/* DREKEN */
#chat-messages .id-3632408 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/eQzLn6N.jpg');
        background-size:        cover;
}

/* Immortal Sausage */
#chat-messages .id-5941277 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/Be5jYJH.gif');
        background-size:        cover; 
}

/* Deggreeee */
#chat-messages .id-5591954 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/7G9sp0G.png');
        background-size:        cover; 
}
#chat-messages .id-5591954 .badge-box
{
        border: 1px solid green;
}

/* Resident DJ's */
#chat-messages .id-13439816 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/MfESUYy.jpg');
        background-size:        cover; 
}

/* bulzai */
#chat-messages .id-8067032 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/xV0HAgS.jpg');
        background-size:        cover; 
}

/* MysterHik */
#chat-messages .id-13553790 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/fyVfOCn.jpg');
        background-size:        cover; 
}
#chat-messages .id-13553790 .badge-box
{
        border: 2px solid #0072ff;
}

/* TOFU :D */
#chat-messages .id-15006213 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/2axp7n1.jpg');
        background-size:        cover; 
}
#chat-messages .id-15006213 .badge-box
{
        border: 2px solid #574171;
}

/* AZR */
#chat-messages .id-15020104 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/ECdDStB.png');
        background-size:        cover; 
}

/* NON-STAFF */

/* Origin */
#chat-messages .id-3675504 .badge-box i.bdg
{
        background-image:       url('https://cdn.radiant.dj/rcs/emotes/img/orilurk.png');
        background-size:        cover;
}

