/********/
/*BADGES*/
/********/

/* STAFF */

/* Mikhan - Shrek - Lengend of the kneeling swamp */
#chat-messages .id-4396449 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/wFBsZrI.gif'); 
        background-size:        cover; 
}

/* Nue hata / whatever */
#chat-messages .id-3927729 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/d2b8z8P.png'); 
        background-size:        cover; 
}

/* PixelBreeze
#chat-messages .id-196490 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/DN9QbKe.gif');  http://i.imgur.com/flFtDDn.png 
        background-size:        cover; 
} */

/* Kirby */
#chat-messages .id-3893149 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/uxyQ4Wz.png');
        background-size:        cover;
}

/* asiansweg */
/*#chat-messages .id-5520544 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/OJZqg2l.png');
        background-size:        cover;
}*/

/* SamuraiFlamenco */
#chat-messages .id-5006104 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/XSpmXI6.jpg');
        background-size:        cover;
}

/* Danklight */
#chat-messages .id-6582089 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/n6JVatT.jpg');
        background-size:        cover;
}

/* RedasTLU */
#chat-messages .id-4725288 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/4dRlHRr.png');
        background-size:        cover;
}

/* NightcoreOP */
#chat-messages .id-6133094 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/DrpMWKQ.png');
        background-size:        cover;
}

/* BushiNinja */
#chat-messages .id-4189310 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/3MPUt6b.png');
        background-size:        cover;
}

/* JennyMagic */
/*#chat-messages .id-5009139 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/oLfGCbZ.png');
        background-size:        cover;
}*/

/* Kaboom */
#chat-messages .id-4742323 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/fZMzTOM.png');
        background-size:        cover;
}

/* Natilie */
/*#chat-messages .id-5059731 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/6jtg0uD.png');
        background-size:        cover;
}*/

/* TheBanHammer */
#chat-messages .id-3620521 .badge-box
{
        border-color: #00a1ff;
        border-width: 1px;
        border-style: solid;
}
#chat-messages .id-3620521 .badge-box i.bdg
{
        /* Old Badge
        background-image:       url('https://i.imgur.com/jdadHuj.png');
        background-size:        cover;
        */
        
        background-image: url('https://i.imgur.com/EOuLASw.gif');
        background-size: cover;
        background-color: #404040;
        background-position-x: -3px;
}

/* Allo */
/*#chat-messages .id-4444591 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/opp3TlA.jpg');
        background-size:        cover;
}*/

/* DJ dude alex */
#chat-messages .id-4058796 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/FtVD6sC.png');
        background-size:        cover;
}

/* Nuggie */
#chat-messages .id-3901318 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/MmzLq1v.jpg');
        background-size:        cover;
}
/* Char */
#chat-messages .id-6181075 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/DutVmD0.png');
        background-size:        cover;
}

/* Renchoniko */
#chat-messages .id-4346793 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/jTBaPRY.jpg');
        background-size:        cover;
}
/* Xfirenl */
#chat-messages .id-5483545 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/hnB5Nbl.png');
        background-size:        cover;
}
/* Cyan */
#chat-messages .id-3432506 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/kLLmINe.png');
        background-size:        cover;
}
/*minymind*/
#chat-messages .id-6355338 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/vsvxEUp.png');
        background-size:        cover;
}
/*Fabbes*/
#chat-messages .id-6116330 .badge-box i.bdg
{
        background-image:       url('http://imgur.com/iPTuutM.png');
        background-size:        cover;
}
/*Daphne*/
#chat-messages .id-5383341 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/gTl2uwb.png');
        background-size:        cover;
}
/*Pro Hop*/
#chat-messages .id-7132658 .badge-box i.bdg
{
        background-image:       url('http://imgur.com/GjqDDCU.png');
        background-size:        cover;
}
/*AdorableCow*/
#chat-messages .id-4115530 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/W6IhmwX.jpg');
        background-size:        cover;
}
/*Nightcore Brianna DJ */
#chat-messages .id-13442611 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/NDcYHrH.png');
        background-size:        cover;
}
/* Joe2648 */
#chat-messages .id-5386736 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/14qtHSr.png');
        background-size:        cover;
}

/* NON-STAFF */

/* Origin */
#chat-messages .id-3675504 .badge-box i.bdg
{
        background-image:       url('https://cdn.radiant.dj/rcs/emotes/img/orilurk.png');
        background-size:        cover;
}

/* DREKEN */
#chat-messages .id-3632408 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/TU9MSYQ.gif');
        background-size:        cover;
}
