/********/
/*BADGES*/
/********/

/* STAFF */

/* Eriofucker<3 */
#chat-messages .id-5762084 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/99Tod2N.png'); 
        background-size:        cover; 
}

/* Mikhan - Shrek - Lengend of the kneeling swamp */
#chat-messages .id-4396449 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/wFBsZrI.gif'); 
        background-size:        cover; 
}

/* PixelBreeze */
#chat-messages .id-196490 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/DN9QbKe.gif');  /*https://i.imgur.com/DN9QbKe.gif */
        background-size:        cover; 
        background-position:    initial;
        
}

/* TheBanHammer */
/*#chat-messages .id-3620521 .badge-box, #chat-messages .id-14182548 .badge-box
{
        border-color: #00a1ff;
        border-width: 1px;
        border-style: solid;
}
#chat-messages .id-3620521 .badge-box i.bdg, #chat-messages .id-14182548 .badge-box i.bdg
{
        background-image: url('https://i.imgur.com/EOuLASw.gif');
        background-size: cover;
        background-color: #404040;
        background-position-x: -3px;
}*/

/* Nue hata / whatever */
#chat-messages .id-3927729 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/d2b8z8P.png'); 
        background-size:        cover; 
}

/* Kirby */
#chat-messages .id-3893149 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/uxyQ4Wz.png');
        background-size:        cover;
}

/* asiansweg */
/*#chat-messages .id-5520544 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/OJZqg2l.png');
        background-size:        cover;
}*/

/* SamuraiFlamenco */
#chat-messages .id-5006104 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/XSpmXI6.jpg');
        background-size:        cover;
}

/* Danklight */
#chat-messages .id-6582089 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/n6JVatT.jpg');
        background-size:        cover;
}

/* RedasTLU */
#chat-messages .id-4725288 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/4dRlHRr.png');
        background-size:        cover;
}

/* BushiNinja */
#chat-messages .id-4189310 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/3MPUt6b.png');
        background-size:        cover;
}

/* JennyMagic */
/*#chat-messages .id-5009139 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/oLfGCbZ.png');
        background-size:        cover;
}*/

/* Kaboom */
#chat-messages .id-4742323 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/fZMzTOM.png');
        background-size:        cover;
}

/* Natilie */
/*#chat-messages .id-5059731 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/6jtg0uD.png');
        background-size:        cover;
}*/

/* Allo */
/*#chat-messages .id-4444591 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/opp3TlA.jpg');
        background-size:        cover;
}*/

/* Cyan */
#chat-messages .id-3432506 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/kLLmINe.png');
        background-size:        cover;
}
/*minymind*/
#chat-messages .id-6355338 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/vsvxEUp.png');
        background-size:        cover;
}
/*Daphne*/
#chat-messages .id-5383341 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/gTl2uwb.png');
        background-size:        cover;
}
/*AdorableCow*/
#chat-messages .id-4115530 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/W6IhmwX.jpg');
        background-size:        cover;
}

/* BULZAI */
/*#chat-messages .id-8067032 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/fGKfZDv.gif');
        background-size:        cover;
}
#chat-messages .id-8067032 .badge-box
{
        border: 1px solid yellow;
}*/

/* Mirajane */
#chat-messages .id-3548097 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/KOVdiIF.jpg');
        background-size:        cover; 
}

/* DREKEN */
#chat-messages .id-3632408 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/eQzLn6N.jpg');
        background-size:        cover;
}

/* Resident DJ's */
#chat-messages .id-13439816 .badge-box i.bdg
{
        background-image:       url('http://i.imgur.com/MfESUYy.jpg');
        background-size:        cover; 
}

/* bulzai */
#chat-messages .id-8067032 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/xV0HAgS.jpg');
        background-size:        cover; 
}

/* MysterHik */
#chat-messages .id-13553790 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/fyVfOCn.jpg');
        background-size:        cover; 
}

/* TOFU :D */
#chat-messages .id-15006213 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/2axp7n1.jpg');
        background-size:        cover; 
}
#chat-messages .id-15006213 .badge-box
{
        border: 2px solid #574171;
}

/* AZR */
#chat-messages .id-15020104 .badge-box i.bdg
{
        background-image:       url('https://i.imgur.com/ECdDStB.png');
        background-size:        cover; 
}

/* AnimeDev */
#chat-messages .id-13446247 .badge-box i.bdg
{
        background-image:       url('http://animedev.azurewebsites.net/Plug/badge.png');
        background-size:        cover; 
}
#chat-messages .id-13446247 .badge-box
{
        box-shadow: 0px 0px 5px #5500ff;
}

/* NON-STAFF */

/* Origin */
#chat-messages .id-3675504 .badge-box i.bdg
{
        background-image:       url('https://cdn.radiant.dj/rcs/emotes/img/orilurk.png');
        background-size:        cover;
}


